:root{
  font-size: 62.5%;
/*light model*/
  --bg-color-light: #FFFFFF;
  --text-color-light: #323238;
  --bg-primary-color-controls-light: #02799D;
  --bg-controls-light: #E1E1E6;

/*dark model*/
  --bg-color-dark: #121214;
  --text-color-dark: #FFFFFF;
  --bg-primary-color-controls-dark: #0A3442;
  --bg-controls-dark: #29292E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
  font-weight: 500;
}

body{
  height: 80vh;
  display: grid;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

body.dark{
  background-color: var(--bg-color-dark);
  color: var( --text-color-dark);
}

header{
  text-align: end;
}

header button{
  margin-top: 6rem;
  margin-right: 6rem;
  
  transition-duration: 350ms;
}

header button:hover{
  transform: scale(1.2);
  transition-duration: 700ms;
}

header button:hover svg path{
  fill: var(--bg-primary-color-controls-light);
}

header button.dark:hover svg path{
  fill: var(--bg-primary-color-controls-dark);
}

.dark svg path{
  fill:#FFFFFF ;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19rem;
}

#timer{
  text-align: center;
  width: max-content;
}

#time{
  font-size: clamp(2rem, 2rem + 10vw, 12.6rem);
  line-height: 10.3rem;

  margin-bottom: 1.6rem;
}

#timer #buttons{
  display: flex;
  justify-content: space-between ;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#buttons button{
  background-color: transparent;
  transition-duration: 350ms;
}

#buttons button:hover{
  transform: scale(1.1);
  transition-duration: 700ms;
}

#buttons button svg{
  width: clamp(1rem, 1rem + 12vw, 6.4rem);
  height: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

#controlsSound{
  display: grid;
  grid-template-areas: "A B" "C D";
  gap: 3.2rem;
}

#controlsSound div:nth-child(1){
  grid-area: A;
}

#controlsSound div:nth-child(2){
  grid-area: B;
}

#controlsSound div:nth-child(3){
  grid-area: C;
}

#controlsSound div:nth-child(4){
  grid-area: D;
}

#controlsSound button{
  border-radius: 2.4rem;
  background-color: var(--bg-controls-light);

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;

  transition-duration: 350ms;
}

#controlsSound .selected{
  background-color: var(--bg-primary-color-controls-light);
}

#controlsSound .dark{
  background-color: var(--bg-controls-dark);
}

#controlsSound button.dark.selected{
  background-color:var(--bg-primary-color-controls-dark);
}

#controlsSound button input{
  height: 1.6rem;
  width: 9rem;
}

#controlsSound button:hover{
  transform: scale(1.1);
  transition-duration: 700ms;
}

.hide{
  display: none;
}

@media (max-width: 920px) {
  
  header{
    margin-top: 3rem;
    margin-right: 3rem;
    text-align: end;
  }

  main{
    flex-direction: column;
    gap: 1rem;
  }

  #time{
    margin-bottom: 0;
  }

  #timer button svg{
    width: 3rem;
    height: 3rem;
  }

  #controlsSound button{
    padding: 1.2rem;
  }

  #controlsSound svg{
    height: 4rem;
  }
}
